<!-- Filename: 500.handlebars
    Class: CS361-400
    Authors: Isaac Neibaur, Johannes Pikel, Berry Semexan, Akshay Subramanian, Ivan Xa
    Date: 2017.06.09
    Assignment: Project B
-->


<h1>Error 500 - Something Has Gone Terribly Wrong</h1>
