<!-- Filename: itemDonated.handlebars
    Class: CS361-400
    Authors: Isaac Neibaur, Johannes Pikel, Berry Semexan, Akshay Subramanian, Ivan Xa
    Date: 2017.06.09
    Assignment: Project B
-->

<nav class="navbar navbar-default" id="top">
    <div class="navbar header">
        <a class="navbar-brand" href="index.html">Back</a>
    </div>
<h1 class="text-center">{{message}}</h1>
