<!-- Filename: userDeleted.handlebars
    Class: CS361-400
    Authors: Isaac Neibaur, Johannes Pikel, Berry Semexan, Akshay Subramanian, Ivan Xa
    Date: 2017.06.09
    Assignment: Project B
-->
<nav class="navbar navbar-default" id="top">
    <div class="navbar header">
        <a class="navbar-brand" href="index.html">Back</a></a>
    </div>
</nav>

<h1 class="text-center">{{text}}</h1>
<h2 class="text-center">{{error}}</h2>
